@import url(./__name/profile__name.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__button/profile__button.css);
@import url(./__add-button.css/profile__add-button.css);
@import url(./__info/profile__info.css);
@import url(./__job/profile__job.css);
@import url(./__name-button/profile__name-button.css);

.profile {
    display: flex;
    align-items: center;
    max-width: 882px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 51px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 580px) {
    .profile {
    padding-left: 19px;
    padding-right: 19px;
    }
  }