.popup__image-container {
    display: block;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    position: absolute;  
}