.profile__name {
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 56px;
color: #FFFFFF;
margin: 0;
margin-right: 17px;
}

@media only screen and (max-width: 580px) {
    .profile__name {
        font-size: 27px;
        margin-right: 10px;
    }
  }