.profile__info {
    margin-top: 18px;
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}


@media only screen and (max-width: 654px) {
    .profile__info {
      margin: 0 auto;
    }
  }