.profile__button {
  background: none;
  box-shadow: none;
  color: #FFF;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_Button.svg);
  background-position: center;
  background-size: cover;
}

.profile__button:hover {
  opacity: 0.6; 
}

@media only screen and (max-width: 580px) {
  .profile__button {
      width: 18px;
      height: 18px;
  }
}
