.footer__logo {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;   
    color: #545454;
}

@media only screen and (max-width: 580px) {
    .footer__logo {
    font-size: 14px;
    line-height: 17px;
    }
  }